<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>KwkSinatraStarter</title>
</head>

<body>
  <h1>Here is my brand new, entirely made up, element!</h1>

  <h2><%= @name %></h2>
  <dl>
    <br />
    <dt>Symbol:</dt>
    <dd><%= @symbol %></dd>  
    <br />
    <dt>Weight:</dt>
    <dd><%= @weight %></dd>  
    <br />
    <dt>Base Name:</dt>
    <dd><%= @base_name %></dd>
  </dl>

</body>

</html>
