<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>KwkSinatraStarter</title>
</head>

<body>
  <h1>Choose an Element to Learn About (listed by atomic number)</h1>
  
  <ul>
    <li><a href="/atomic_number/1">1</a></li>
    <li><a href="/atomic_number/2">2</a></li>
    <li><a href="/atomic_number/6">3</a></li>
    <li><a href="/atomic_number/8">4</a></li>
  </ul>

  <h2>The Element Name</h2>
  <dl>
    <br />
    <dt>Symbol:</dt>
    <dd>MAKE THIS DYNAMIC!</dd>  
    <br />
    <dt>Weight:</dt>
    <dd>MAKE THIS DYNAMIC!</dd>  
    <br />
    <dt>Base Name:</dt>
    <dd>MAKE THIS DYNAMIC!</dd>
  </dl>

</body>

</html>
