<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>KwkSinatraStarter</title>
</head>

<body>
  <h1>Choose an Element to Learn About</h1>
  <ol>
    <li><a href="/periodic_number/1">1</a></li>
    <li><a href="/periodic_number/2">2</a></li>
    <li><a href="/periodic_number/6">3</a></li>
    <li><a href="/periodic_number/8">4</a></li>
  </ol>

  <h2>The Element Name</h2>
  <dl>
    <dt>Symbol</dt>
    <dd>THE Symbol</dd>  
    <dt>Weight</dt>
    <dd>THE WEIGHT</dd>  
    <dt>Base Name</dt>
    <dd>The Base Name</dd>
  </dl>

</body>

</html>