<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>KwkSinatraStarter</title>
</head>

<body>
  <h1>Create your own element!</h1>

  <form action="/custom_element" method="post">
    Name: <input type="text" name="name">
    Symbol: <input type="text" name="symbol">
    Base Name: <input type="text" name="base_name">
    Weight: <input type="text" name="weight">
    <br><br>
    <input type="submit" />
  </form>
  
</body>

</html>
